.container {
  width: 100%;
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 15px;

  @include vp-768 {
    padding: 0 20px;
  }

  @include vp-1024 {
    padding: 0 40px;
  }
  @include vp-1304 {
    padding: 0 20px;
  }
  @media (min-width: 1920px) {
    padding: 0 20px;
    max-width: 1640px;
  }
}