.spiral {
  position: relative;
  max-width: 600px;
  height: 300px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: sans-serif;

  @include vp-360 {
    max-width: 300px;
    .icon {
      font-size: 2rem;
      width: 60px;
      height: 60px;
    }
    @include vp-768 {
      max-width: 400px;
    }
    @include vp-1024 {
      max-width: 500px;
    }
    @include vp-1304 {
      max-width: 600px;
    }
  }
}

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  color: var(--icon-color, white);
  /* Используем переменную с белым как запасной вариант */
  transform-origin: center;
  transition: transform 0.1s linear;
  width: 80px;
  height: 80px;
  z-index: 10;
}

/* Брендовые цвета для иконок */
.spiral i:nth-child(10n+1) {
  --icon-color: #E34F26;
  /* HTML5 */
}

.spiral i:nth-child(10n+2) {
  --icon-color: #1572B6;
  /* CSS3 */
}

.spiral i:nth-child(10n+3) {
  --icon-color: #F7DF1E;
  /* JavaScript */
}

.spiral i:nth-child(10n+4) {
  --icon-color: #61DAFB;
  /* React */
}

.spiral i:nth-child(10n+5) {
  --icon-color: #339933;
  /* Node.js */
}

.spiral i:nth-child(10n+6) {
  --icon-color: #F05032;
  /* Git */
}

.spiral i:nth-child(10n+7) {
  --icon-color: #ffffff;
  /* GitHub */
}

.spiral i:nth-child(10n+8) {
  --icon-color: #4479A1;
  /* Database */
}

.spiral i:nth-child(10n+9) {
  --icon-color: #F5792A;
  /* Blender */
}

.spiral i:nth-child(10n+10) {
  --icon-color: #0ACF83;
  /* Figma */
}

/* Эффект свечения при наведении */
.spiral i:hover {
  filter: drop-shadow(0px 0px 10px var(--icon-color, #ffffff));
}

@media (max-width: 490px) {
  .icon {
    font-size: 2.2rem;
  }
}